{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>

  {% for intro in site.data.projects %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for project in site.data.projects %}
  {% if project.title %}
    <div class="item" style="margin-bottom:30px;">
      <h3 class="project-title" style="text-align:justify;text-justify:inter-word;"><b>{{ project.title }}</b></h3>
	  <div class="upper-row" style="margin-top:10px;margin-bottom:10px;">
	    <div style="font-size:15px;">Link to article:<a href="{{ project.link }}" style="padding-left:5px;"><i>{{ project.journal }}</i></a></div>
		<div class="time">{{ project.publicationdate }}</div>
	  </div>
	  <div class = "links" style="margin-top:10px;margin-bottom:10px;font-size:15px;">
		  
	    {% if project.github %}
	    <div class="project-link" style="width:50%;float:left;">Project repository:<a href="{{ project.github }}" style="padding-left:5px;"> GitHub repository </a></div>
	  
	    {% endif %}
		
	    {% if project.workbook %}
	  
	    <div class="project-link" style="width:50%;float:left;">Recreating results:<a href="{{ project.workbook }}" style="padding-left:5px;"> Workbook </a></div>
	  
	    {% endif %}
	  
  	  </div>

      <span class="project-tagline" style="text-align:justify;text-justify:inter-word;">{{ project.tagline | markdownify}}</span>

    </div><!--//item-->
  {% endif %}
  {% endfor %}

</section><!--//section-->
{% endif %}