{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>

  {% for intro in site.data.projects %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for project in site.data.projects %}
    <div class="item">

      <span class="project-title"><b>{{ project.title }}</b></span>
	  
	  <div class="links">
		<span class="journal"> {{ project.journal}}  </span>
	   
	    <span class="publicationdate">  Publication date: {{ project.publicationdate }}  </span>
	  
	    <span class="project-link"><a href="{{ project.link }}">  Article  </a></span>
	  
	    {% if project.github %}
	  
	    <span class="project-link"><a href="{{ project.github }}">  GitHub repository  </a></span>
	  
	    {% endif %}
		
	    {% if project.workbook %}
	  
	    <span class="project-link"><a href="{{ project.workbook }}">  Workbook  </a></span>
	  
	    {% endif %}
	  
  	  </div>

      <span class="project-tagline">{{ project.tagline | markdownify}}</span>

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
